.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
*.dta
.DS_Store
The Homelife Interview from the Project on Human Development_in Chicago Neighborhoods  Assessment of Parenting and Home Environment for 3- to 15-Year-.pdf
